body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e0e5e0;
}

table.Board{
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	border-collapse: collapse;
}

table.Board td {
	width: 24px;
	height: 24px;
}

div.Coming {
	position: absolute;
	top: 0;
	right: 0;
}

.GamePad button{
	width: 50%;
	height: 30px;
}

/*
*/